#css{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.tabs{
    width: 100%;
    margin: 50px 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}
.tab-fix{
    width: 300%;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#ffffff;
    height: 25px;
}

.tab-standings{
    width: 300%;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#ffffff;
    height: 25px;
}
.content-container{
    width:100%;
    min-height: 80vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
/*Not seen css*/
.fix-container{
    width:100%;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
    text-align:justify;
}
.teams-div{
    margin:20px 0;
}

.teams-div:hover{
    transform: scale(1,1);
}
select{
    padding:10px;
    font-size: 20px;
}
.standing-results{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.stanging-info-div{
    margin:20px 0;
}
.ref-container{
    align-items:"center";
    text-align: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
}
.RefData{
    align-items:"center";
    text-align: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
}
.select-container{
    align-items:"center";
    text-align: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
}
.RefData td, .RefData th {
    border-bottom: 1px solid #ddd;
    padding: 6px;
    padding: 12px;
    padding-left: 50px;
    text-align: left;
}
  
.RefData tr:nth-child(even){background-color: #f2f2f2;}
  
.RefData tr:hover {background-color: #ddd;}
 
.RefData th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #0487d3;
    color: white;
}
